# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# format file
[*.java]
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999
charset = utf-8

# 4 space indentation
[*.{java,xml,jenkinsfile}]
indent_style = space
indent_size = 4

# 2 space indentation
[*.{xml, json, html, xhtml, jsp, js, py, bash, sh, properties, yml, Dockerfile, Jenkinsfile, sql}]
indent_style = space
indent_size = 2
